.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* THIS IS THE 2PIC SECTION */

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* THIS IS THE 3PIC SECTION */

#steps .row>.col-lg-4 {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* THIS IS THE BIG PICTURE SECTION */

#why {
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}


/* this is the media query section */






/* THIRD SECTION */

@media all and (min-width: 992px) {

  #why .row>.col-lg-12 {
  margin-top: 80px;
  }

}
