.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 5%;
}

#lezioni, #steps, #why {
  text-align: center;
}

.pad {
  padding-top: 8%;
}

/* this is the media query section */

/* FIRST SECTION */

@media all and (max-width: 767px) {

  #lezioni .row>.col-xs-12 {
    padding-bottom: 3%;
    padding-top: 3%;
  }
}

/* SECOND SECTION */

@media all and (min-width: 768px) and (max-width: 991px) {

  #steps .row>.col-lg-4 {
    padding-bottom: 3%;
  }

}

/* THIRD SECTION */

@media all and (min-width: 992px) {

  #why .row>.col-lg-12 {
  margin-top: 80px;
  }

}
